.header, .searchBlock, .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.header{
  height: 4.5rem;
}
.searchBlock{
  height: 8rem;
  background-color: #F7F7F7;
}
.footer{
  height: 32.5rem;
  background-color: #F7F7F7;
}
.galleryPage{
  position: relative;
}